/* Users should be able to see hover and focus states for all interactive elements on the page */

/* The font sizes in this project a slightly smaller in the mobile layout. Find a way to reduce font size for smaller screens without using media queries. */

/* Do I leave alt blank if image is decorative? */

/* Put image inside figure element? */

/* Figure out proper font sizes */

/* Look up difference between inline and inline-block */

/* Change article-category div to something more semantic? */ 

/* Use a div as the overall container instead of main? That would make it easier to use a footer. Could maybe replace article with main? Though article on its own with no main might work */


:root {
    --yellow: #F4D04E;
    --black: #1E1E1E;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
}

.container {
    background-color: #FFF;
    width: 18rem;
    padding: 1.5rem;
    border-radius: 20px;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.content {
    margin: 1.5rem 0;
}

.article-category {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    display: inline;
}

.date-published {
    font-size: 0.875rem;
    margin: 0.75rem 0 0 0;
}

.article-title {
    margin: 0;
}

.article-text {
    margin: 0;
}

.author-info {
    display: flex;
}

.author-photo {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.author-name {
    margin: 0 0 0 0.75rem;
}