/* Users should be able to see hover and focus states for all interactive elements on the page */

/* The font sizes in this project a slightly smaller in the mobile layout. Find a way to reduce font size for smaller screens without using media queries. */

/* Do I leave alt blank if image is decorative? */

/* Put image inside figure element? */

/* Figure out proper font sizes */

/* Look up difference between inline and inline-block */


:root {
    --yellow: #F4D04E;
    --black: #1E1E1E;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5;
}

.container {
    background-color: #FFF;
    width: 18rem;
    padding: 1.5rem;
    border-radius: 20px;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.text-content {
    margin-top: 1.5rem;
}

.article-category {
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 4px;
    font-weight: 800;
    padding: 0.25rem 0.75rem;
    display: inline;
}